# 运行时数据
data/state.json
data/config.json
data/*.log

# Python 及环境相关
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
Pipfile.lock

# IDE / 系统相关
.vscode/
.idea/
.DS_Store
Thumbs.db

# 打包构建相关
build/
build-support/
dist/
*.spec

# 测试与系统缓存
.pytest_cache/
